<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF8">
    <link rel="stylesheet" href="{{ asset('bundles/framework/css/style.css') }}" type="text/css" />
    <title>Title</title>
</head>
<body>
<a class="pink" href="mushihimesama.html.twig">mushihimesama</a>
<a class="notPink" href="crimzon_clover.html.twig">crimzon clover</a>
<a class="notPink" href="ikaruga.html.twig">ikaruga</a>
<table>
    <tr>
        <th>Casper</th>
        <th><img src="{{ asset('bundles/framework/images/casper.jpg') }}" alt="casper" /></th>
    </tr>
    <tr>
        <th>Follet</th>
        <th><img src="{{ asset('bundles/framework/images/follet.jpg') }}" alt="follet" /></th>
    </tr>
    <tr>
        <th>Rosa</th>
        <th><img src="{{ asset('bundles/framework/images/rosa.jpg') }}" alt="rosa" /></th>
    </tr>
    <tr>
        <th>Sakura</th>
        <th><img src="{{ asset('bundles/framework/images/sakura.jpg') }}" alt="sakura" /></th>
    </tr>
    <tr>
        <th>Windia</th>
        <th><img src="{{ asset('bundles/framework/images/windia.jpg') }}" alt="windia" /></th>
    </tr>
</table>
</body>
</html>